# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
*.env

# Poetry
poetry.lock

# Django
db.sqlite3

# VSCode / IDEs
.vscode/
.idea/

# macOS / Linux
.DS_Store

# Pytest / Coverage
htmlcov/
.coverage
.pytest_cache/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.py

